/* Общие стили */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f5;
}

.card {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    max-width: 320px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Стили для аватара */
.avatar img {
    width: 120px;
    height: 120px;
    border-radius: 15px; /* Скругленные углы */
    margin-bottom: 15px;
    object-fit: cover; /* Обеспечивает сохранение пропорций */
}


/* Контактная информация */
h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.contact-info a {
    color: #0073e6;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

/* Вертикальные ссылки на соцсети с иконками */
.social-links {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.social-links a {
    color: #0073e6;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
}

.social-links a i {
    font-size: 1.2em;
}

.social-links a:hover {
    color: #005bb5;
}

/* Адаптивность */
@media (max-width: 480px) {
    .card {
        padding: 15px;
    }

    h1 {
        font-size: 1.2em;
    }

    .avatar img {
        width: 100px;
        height: 100px;
    }
}
